# Node.js e Next.js
**/node_modules/
**/dist/
**/build/

# Go
/bin/
pkg/
vendor/
*.exe
*.dll
*.so
*.dylib

# Arquivos de ambiente
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs e Editores
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Outros
coverage/
